{% extends 'base.html' %}

{% block content %}

<!----- Navbar ----->
{% include 'navigation.html' %}

<!----- Main content ----->
<main class="my-5">
    <div class="container" id="product_list">

        <section class="text-center text-md-start">
            <h3 class="mb-5">
                Welcome to Our Shop!
            </h3>
        <hr>
            <h4 class="mb-5">
                Products
            </h4>
            {% for d in row %}
                <div class="row" id="first_row">
                    <div class="col-md-4 mb-4">
                        <div class="bg-image hover-overlay shadow-1-strong rounded ripple"
                             data-mdb-ripple-color="light">
                            {% if d[4] %}
                                <img src="{{ d[4] }}"
                                     class="img-fluid card-image"
                                     style="width: 500px;height: 300px; object-fit: cover;"/>
                            {% else %}
                                <img src="https://images.unsplash.com/photo-1610337673044-720471f83677?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2166&q=80"
                                     class="img-fluid card-image"
                                     style="width: 500px;height: 300px; object-fit: cover;"/>
                            {% endif %}
                            <a href="/product/{{ d[0] }}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 mb-4">
                        <h5 class="card-title">{{ d[1] }}</h5>
                        <p>
                            {{ d[2] }}
                        </p>
                        <p>
                            $ {{ d[3] }}
                        </p>
                        <a class="btn btn-primary" href="/product/{{ d[0] }}" role="button">View Item</a>
                        <p></p>
                        <form action="{{ url_for('add_to_cart') }}" method="post">
                            <input type="hidden" name="product_id" value="{{ d[0] }}">
                            <button type="submit" class="btn btn-sm btn-warning">Add to Cart</button>
                            <label for="">Quantity:</label>
                            <input type="number" class="product-quantity" name="quantity" value="" size="2"/>
                        </form>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </section>
    </div>
</main>

{% endblock content %}